<div class="footer">
    <div class="pull-right">
       Campus Ministry Training Resource Portal
    </div>
    <div>
        <strong>Copyright</strong> BLW Campus Ministry &copy; @DateTime.Now.Year
    </div>
</div>
