@{
    ViewBag.Title = "Forgot Password Confirmation";
}


@Html.Partial("_headerPartial")


<div class="wrapper wrapper-content animated fadeInDownBig">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</div>
