
@{
    ViewBag.Title = "Registration Successful";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_pageHeaderPartial")

<div class="wrapper wrapper-content animated fadeInDownBig">
    <div class="row">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <p>
                    <span class="text-primary">
                        Registration Successful!
                    </span>
                    Kindly Check your email Address to confirm your account
                </p>
            </div>
        </div>
    </div>
</div>
